<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mazhan.theone">

    <uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
    <uses-permission android:name="android.permission.READ_SMS"></uses-permission>
    <uses-permission android:name="com.baigle.imitatehandler.TEST" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.BROADCAST_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--com.mazhan.theone.dogger.MainActivity-->
        <!--MainActivity-->
        <!--com.mazhan.theone.recyclerview.RecyclerViewActivity-->
        <!--com.mazhan.theone.dagger2test.DaggerMainActivity-->
        <!--com.mazhan.theone.activityconfiguration.ConfigurationActivityOne-->
        <!--com.mazhan.theone.listviewtest.ListViewActivity-->
        <!--com.mazhan.theone.animation.AnimationActivityTest-->
        <!--com.mazhan.theone.androidfive.Clipping  控件裁剪效果-->
        <!--com.mazhan.theone.service.BindingActivity 绑定服务-->
        <!--com.mazhan.theone.service.ActivityMessenger-->
        <!--com.mazhan.theone.view.ViewTestActivity-->
        <activity
            android:name="com.mazhan.theone.activityconfiguration.ConfigurationActivityOne"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activityconfiguration.ConfigurationActivityTwo"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".activityconfiguration.ConfigurationActivityThree"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!--ipc进程-->
        <activity
            android:name=".ipc.MainActivity"
            android:configChanges="screenLayout"
            android:label="@string/app_name"
            android:launchMode="standard"></activity>
        <activity
            android:name=".ipc.SecondActivity"
            android:configChanges="screenLayout"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:process=":romote"></activity>
        <activity
            android:name=".ipc.ThirdActivity"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:process=":romote"></activity>
        <!--com.mazhan.theone.activityconfiguration.ActivityHandlerTest-->
        <activity
            android:name="com.mazhan.theone.activityconfiguration.ActivityHandlerTest"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:process=":romote"></activity>
        <service
            android:name="com.mazhan.theone.ipc.ServiceIntent"
            android:enabled="true"></service>
        <!--com.mazhan.theone.service.MyService-->
        <service
            android:name="com.mazhan.theone.service.MyService"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_SMS"></service>
        <receiver
            android:name="com.mazhan.theone.broadcast.InterceptReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action
                    android:name="android.provider.Telephony.SMS_RECEIVED"
                    android:priority="999" />
            </intent-filter>
        </receiver>
    </application>

</manifest>